<%= render :partial => "layouts/header" %>

    <div class="wrapper">
      <div class="container"> 
         <%= yield %>
      </div>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
